[2019-09-03 13:12] larrybabb opened #1 "Add summary description to READ.ME"
Need one or two sentences at top of readme to describe what this repo actually contains.  Ideally, we would rename this to something with that starts with "website". But if the summary description contains the term website that will help find this repo when doing a search on repos for that term.

At a minimum please add a couple sentences at the top of the READ.ME file to make sure folks can under

[2019-09-03 13:29] sgoehringer opened #2 "Address package security issues"
@tnavatar please review the "We found potential security vulnerabilities in your dependencies."    as soon as possible.

[2019-09-03 13:30] sgoehringer commented on #1
@larrybabb confirm the summary added is satisfactory.  If so, feel free to close.

[2019-09-03 13:34] #1 closed

[2019-09-03 22:41] tnavatar commented on #2
Studying these vulnerabilities, our code is not written in a way that we would be susceptible to attacks based on them. We should update these packages to the recommended versions, but it can wait until a regular release with testing.

[2019-09-06 13:08] sgoehringer opened #3 "Correct inaccurate/incomplete ACI data on website"
Issue & Justification

This will group the five open issues/concerns from stakeholders concerning inaccurate or incomplete representation of existing ACI version ?.? data to the public.
- displays only first released report (even if failed), no context, incomplete representation
- gene-disease pairs not accurately being represented
- literature search date must be available for accurate age of ass

[2019-09-06 13:40] sgoehringer opened #4 "Tag Animal Model Only Gene Disease Validity Curations on ClinGen Website"
The display of Gene Disease Validity will be updated to allow a tag/badge to be displayed when a specific criteria about Animal Model knowledge has been achieved (already specified). This tag/badge will be triggered based on data that is currently available in the website and doesn’t require updates by the GCI.  The feature is being included in the website to support GenCC recommendations.

https:

[2019-09-06 13:41] sgoehringer opened #5 "Brand Python and change links to ClinGen Dosage from the search site"
The “Migrate Dosage JIRA from NCBI to ClinGen” necessitates that ClinGen take over the display of the full curation details for Dosage Sensitivity. Currently the display of the curation details is managed by NCBI and this won’t be available after the JIRA migration.

[2019-09-10 13:07] sgoehringer opened #6 "Double Curation For Gene "GRIA3" - Remove 2017 Curation"
Reported By: "Kelly A. Toner" <ktoner1@geisinger.edu>
I just had to make updates to an evidence summary for a gene that was curated back in 2017 (GRIA3). When I updated the entry, it ended up adding an entry to the website, rather than just updating the one that is there (see below). I need the one dated 9/9/19 to stay on the website and the other one to be removed. Additionally, the date for the

[2019-09-10 14:56] tnavatar commented on #6
I removed the legacy curation from the database. @sgoehringer would it be possible to remove this curation from the GC Express archive so that we don't accidentally re-introduce it, or has that already been done?

[2019-09-10 14:59] sgoehringer commented on #6
@tnavatar sure thing!  Can you confirm that the scripts are pulling from https://raw.githubusercontent.com/clingen-data-model/data-exchange-shared-json/master/json-from-gene-express/ClinGen-Gene-Expess-Data-03272019.json

[2019-09-10 15:06] tnavatar commented on #6
Confirmed!

[2019-09-10 15:25] sgoehringer commented on #6
@tnavatar this was removed from the JSON.  Let me know if you have any issues related to this.  The commit can be found at https://github.com/clingen-data-model/data-exchange-shared-json/commit/5fc575a9dc7fb59cbb579a904fd9685d8ffb5318  Going to close this issue

[2019-09-10 15:25] #6 closed

[2019-09-13 15:03] sgoehringer opened #7 "Display MOI for Gene Validity"
https://search.clinicalgenome.org/kb/gene-validity/

Below are two examples where mode of inheritance is needed to be displayed.
GRIA1
EDNRB

Follow up: make sure the on the Gene and Disease listing pages two curations show when multiple inheritance.  I believe the code removes the second curation which should show.

https://docs.google.com/document/d/1VKaI0YkkGQSOgVzLorhSDnk1ML8rVmEZa5Xxk-v2cvU/e

[2019-09-13 15:09] sgoehringer opened #8 "Double curation for GRIA3, ARHGEF6, SLC6A4"
It looks that the GCI sent two curations (in the past) for the same gene-disease-MOI.  During discovery it is believed that this curation was first started by a single person and then the GCI ran a script to transfer the curation to an affiliation.  The URLs are different which I believe means that the curation ID is different.  This may be the cause of the issue.  Unsure if the fix needs to happe

[2019-09-13 15:17] sgoehringer opened #9 "Remove double MONDO IDs from website"
SP: https://broadinstitute.atlassian.net/browse/CSP-46

Known website bug - for gene curations entered via Gene Curation Express (GCE): If the curator entered both a MONDO ID and an OMIM ID in GCE, and the two terms were not an exact wording match (regardless of whether or not they are conceptually the same thing), the website matched with two distinct MONDO terms and displays the same curation tw

[2019-09-13 15:22] tnavatar commented on #8
On ingest of a new message with the same UUID, the intake script should set a relationship from the old to the new, ensuring that the old curation does not display. In general this has been working; will need to investigate why it did not in this instance.

[2019-09-13 15:24] sgoehringer opened #10 "Display Gene Curations by Affiliation on the Website"
SP: https://broadinstitute.atlassian.net/browse/CSP-45

We would like each gene curation to be associated with the affiliation that completed it so that A) users can search by affiliation and B) a list of all completed/pending curations can be displayed on each affiliation's page.  The concept of "pending" will be a future upgrade and is not required for the first implementation.  Completed curati

[2019-09-13 15:35] sgoehringer commented on #8
@tnavatar yeah, this is the first time we've seen this.  It seems to have worked fine for curation updates since it was originally release.  I think the edge case that came up here was this curation was transferred to an affiliation and it may have generated a different curation ID... but the original is either not in the GCI UI or if it is still in the GCI didn't have a status changed.  I'll shar

[2019-09-13 15:37] sgoehringer opened #11 "Gene Express curation has wrong HGNC ID for TMPO"
The curator used the wrong HGNC ID for TMPO (https://search.clinicalgenome.org/kb/gene-validity/10046)  The HGNC ID they used was for KCNQ1

[2019-09-16 12:33] larrybabb commented on #10
@tnavatar can you clarify how much time you need to make these updates? We don't need you to do it now, just an estimate so that we can figure out how to prioritize it.

[2019-09-17 16:28] sgoehringer commented on #8
**Call Notes (Scott & Kelly - Sept 17)**
The purpose of the call was to review the issue that looked to have only been an issue for GRIA3 but we discovered that two more genes are effected (ARHGEF6, SLC6A4).  At first it looked that the issue was caused after the GCI needed to change curations from a user to an affiliation.  We noticed this was common fro GRIA3 and ARHGEF6 but change wasn't perfor

[2019-09-18 13:41] sgoehringer commented on #8
@tnavatar when you have a chance when you get in (I don't recall if you are back today or Thursday) can you review the issue notes above and let me know if you have thoughts/questions.  I'm glad to chat if that is helpful.

[2019-09-18 18:17] tnavatar commented on #8
On studying this issue and review of the code used to import new curations,i I had added code to check whether a curation is newer or older than than the existing, valid curation for a given ID. I had wanted to guard against the case where messages were received out-of-order. These are all publications who had their date adjusted to an (earlier) date, meaning that the import script treated them as

[2019-09-18 18:43] tnavatar commented on #8
Just to confirm, @sgoehringer,  in every case listed above, is the 'older' curation actually the correct one?

[2019-09-18 20:41] sgoehringer commented on #11
Kelly checked with Jenny Goldstein <goldjen@email.unc.edu> and Jenny confirmed that this curation should be removed.

[2019-09-18 20:46] sgoehringer commented on #11
This was removed and committed to GITHUB
https://github.com/clingen-data-model/data-exchange-shared-json/commit/506a799b95333831f9c2dcc8a3ec0c4f3c9d7111

[2019-09-18 20:49] sgoehringer commented on #8
@tnavatar
Part 1 - Thanks for checking into things and your explanation does seem to be inline with what has been noticed.  The date change was the key, we didn't find others with issues that were updated.  I am confirming with Kelly that these curations all had curation dates that changed to be 'older' that the initial.  Stay tuned.

Part 2 - If you make a manual change what are the updates neede

[2019-09-18 20:56] sgoehringer commented on #10
Hey Tristan, just following back up on this "Seeking feedback from @tnavatar to confirm that making updates to the Gene Curation Express JSON by adding the affiliation ID will be consumed and available in NEO4J" Let me know if you have questions.

[2019-09-18 20:58] sgoehringer commented on #9
Hey Tristan, just following up on this one. "Seeking feedback from @tnavatar to confirm that making updates to the Gene Curation Express JSON by either 1) adding the MONDO or 2) adding the MONDO and removing the OMIM, will be able to address this issue."  Glad to chat about this if you would like.

[2019-09-19 16:43] tnavatar commented on #9
The data in the GCE is based on ORPHA and OMIM, not MONDO. We should associate every remaining curation in the GCE with a single ID of either ORPHA or OMIM (and possibly MONDO, though will need to validate that the init script can handle that). It's possible that this could be done automatically for the cases where the two terms do match, and we can at least flag the issue when they don't.

In the

[2019-09-19 17:04] sgoehringer commented on #9
Call Notes (@sgoehringer and @tnavatar)
The current GCE ingestion code doesn't do anything with the MONDO terms but Tristan felt that it would be simple change to drop support for OMIM/ORPHANET and only go with the MONDO term provided to make the relationships.  Background, a manual audit was completed and MONDO terms were provided for each curation.

Action Items
- Move forward with including the

[2019-09-19 17:08] sgoehringer commented on #10
Call Notes (@sgoehringer and @tnavatar)
The current GCE ingestion code doesn't do anything with the affiliation ID but Tristan felt that it would be simple change consume that information and utilize it similar to how the data from the GCI is currently utilized.  Background, a manual audit was completed and Affiliation ID were provided for each curation.

Action Items
- Move forward with including

[2019-09-19 17:12] sgoehringer commented on #8
Call Notes (@sgoehringer and @tnavatar)
Confirm with Kelly that the curation updated dates were older for each of the curations
IF TRUE - Action Items
- Implement a change to the code that doesn't rely on the curation date to check to account for possible out-of-order data in the streaming service.
- Perform these set up updates with issue #9 #8
- Test updates on staging server to confirm changed

[2019-09-27 15:03] sgoehringer commented on #3
Had a good call with Kate (ACI) on Sept 26th.  Buttoning up the changes for the CMS to release next week.  Wrapping up changes to the search pages next week and provide access to ACI for QC.

[2019-09-27 15:05] sgoehringer commented on #4
This work is progressing. Phil is working through the calls needed and will be reviewed next week (Oct 1)

[2019-09-27 15:07] sgoehringer commented on #7
This known issue is moving to a higher priority as more curations are being done on gene-disease with different MOI. Spending time next week (Oct1) with Phil to review code and plan the implementation.

[2019-10-03 18:40] sgoehringer commented on #4
Erin said that this wasn't majority priority with all of the active issues.  It is still on the Oct release but this can move as/if needed.

[2019-10-03 18:50] sgoehringer opened #12 "ACI redirect link - Redirect list of actionability curations displayed in search to page describing the views curations can be accessed."
Once the landing page is done in the main website the search page that lists the curations needs to be updated to auto-redirect to new page.  ONLY AFTER AWG APPROVAL

Redirect list of actionability curations displayed in search to page describing the views curations can be accessed. This change allows the ACI to handle the display of the actionability curations for the foreseeable future.

[2019-10-07 19:56] sgoehringer commented on #5
This is being closed as it essentially summarizes all of the "clinicalgenome Website GEN4.1 - DOSAGE GENEGRAPH" https://github.com/orgs/clingen-data-model/projects/8

[2019-10-07 19:58] sgoehringer opened #14 "Incorporating DBD Branding to Legacy Python Pages"
Ticket to track the progress made on the efforts to update the Python pages provided by NCBI to brand the Dosage Display Pages.

[2019-10-07 20:15] sgoehringer opened #13 "Configure of CORS for ClinGen Search Server"
https://docs.google.com/document/d/1Li7hMb3uoeMdWj6zp0Hs7U_t5x8QRpT1kKdvITyCBv8/edit#heading=h.3dorrx1v2zw8

Request
Configure Cross-Origin Resource Sharing (CORS) for the ClinGen Search Server(s) to allow control of the API and iFrame access for the site.

Background Info - https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

Research is required to ensure/confirm what CORS effects.
Question,

[2019-10-07 20:17] sgoehringer commented on #3
UI progress has been made but issue remains on displaying ACI curations for conditions and how the code that ingests the curation data is associating (bubbling) things up.

[2019-10-14 18:37] tnavatar commented on #3
@sgoehringer Were you able to review your call with Kate and identify what needs to be done to complete this task?

[2019-10-15 14:26] sgoehringer commented on #3
@tnavatar I am checking with Phil to confirm I the issue can still be reproduced.

[2019-10-15 14:30] sgoehringer commented on #3
@tnavatar @plweller3 An update was committed to GITHUB to allow the current actionability page redirect to a page on the www.clinicalgenome website.  This update addresses one aspect of the original request.  You can see the commit https://github.com/clingen-data-model/clingen-knowledge/commit/85e56f41faf5ad34ff80b719980205cb42fe96eb  Please release this change to production.

[2019-10-15 14:31] tnavatar commented on #3
Do you have this one @plweller3, or would you like me to release to production?

[2019-10-15 14:37] plweller3 commented on #3
I don’t think its ready for production.  I believe a few things still have to be done.

1:  Upload the conditions changes
2:  Set up production database
3:  Test

[2019-10-15 14:41] sgoehringer commented on #12
An update was committed to GITHUB to allow the current actionability page redirect to a page on the www.clinicalgenome website. This update addresses one aspect of the original request. You can see the commit 85e56f4

[2019-10-15 14:44] tnavatar commented on #3
I can set up genegraph in production today—the one thing I was checking in on was whether we needed changes to the way genetic conditions beneath a given condition are represented or not. I think we were trying to figure out if this behavior was unwanted or not—either way. I can do this before or after getting Genegraph into production.

[2019-10-15 14:44] sgoehringer commented on #3
@tnavatar @plweller3 ALL STOP

[2019-10-15 14:46] sgoehringer commented on #3
@tnavatar @plweller3 This update is only for 85e56f4 and only effects the actionability list redirect.  NO RELEASE FOR GENEGRAPH changes.

[2019-10-15 14:47] tnavatar commented on #3
Where’s the ticket for Genegraph changes?

[2019-10-15 14:48] sgoehringer commented on #3
Due to confusion I am moving the Actionability redirect to the specific ticket.  https://github.com/clingen-data-model/clingen-knowledge/issues/12

[2019-10-15 14:51] sgoehringer commented on #3
@tnavatar @plweller3 This ticket holds all of the original issues for the ACI changes that you are implementing for GeneGraph and one of those changes is for this list page redirect. This issue is still the original issue for the ACI display issues.  Feel free to open a GeneGraph only if you feel that will be helpful to track GeneGraph specific items.  This issue will stay open until the overall p

[2019-10-15 14:54] sgoehringer commented on #12
@tnavatar @plweller3 moved thread to this issue for the request to release 85e56f4 to production. NO CHANGES other than what is in commit 85e56f4

[2019-10-25 12:03] #12 closed

[2019-10-25 12:05] sgoehringer commented on #5
Quick note on this one... this won't "CLOSE" until ClinGen takes over the JIRA Dosage process

[2019-10-31 16:47] sgoehringer commented on #7
Update - this work is being shared with Stakeholders.  It is staged to release when ACI updates are complete.

[2019-11-04 15:11] plweller3 commented on #10
Code updates to provide API interface for all affiliations by count and specific affiliation with curations completed and uploaded to affiliations branch on github.

[2019-11-19 20:56] sgoehringer opened #18 "Gene Curation update for PMS2 - Gene Disease Validity"
We have been asked by Deb Ritter to remove a legacy curation for "PMS2 - colorectal cancer, hereditary nonpolyposis, type 4 | MONDO:0013699".  Since this is a legacy curation and prior to the conversion to MONDO this requires that the reference to OMIM:614337 on curation 9851 (https://search.clinicalgenome.org/kb/gene-validity/9851) is removed.  This was removed from the JSON file in the following

[2019-11-19 21:04] tnavatar commented on #18
Performed the following operation on the production neo4j database to remove the relevant relation:

neo4j> match (c:GeneDiseaseAssertion {perm_id: "9851"})-[rel:has_object]->(d {iri: "http://purl.obolibrary.org/obo/MONDO_0013699"}) delete rel;
0 rows available after 52 ms, consumed after another 0 ms
Deleted 1 relationships

[2019-11-19 21:29] sgoehringer opened #19 "Gene Curation update for PMS2 - Actionability"
This issue is a placeholder/reminder if the ACI team recommends updates based on a the "PMS2 on ClinGen Website" request.

[2019-11-19 21:30] sgoehringer opened #20 "Gene Curation update for PMS2 - Dosage"
This issue is a placeholder/reminder if the Dosage team recommends updates based on a the "PMS2 on ClinGen Website" request.

[2019-11-19 21:31] sgoehringer commented on #20
Note - the dosage team was contacted and it will be a topic for Nov 21 or 22 calls

[2019-11-19 21:31] sgoehringer commented on #19
Note, the stakeholder was contacted.

[2019-11-19 21:33] sgoehringer commented on #18
@tnavatar thanks!  I checked a non-cached page and it was dropped.  Cached pages still show things but I will recheck later/tomorrow.  I will close ticket after confirming it isn't showing.

NOTE, I also followed back up with Deb R.

[2019-11-19 21:34] tnavatar commented on #20
FWIW the Lynch syndrome Orpha/MONDO term used in this curation does not link directly to an OMIM term: https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0005835 <https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http://purl.obolibrary.org/obo/MONDO_0005835>

Until dosage curations are allowed directly against MONDO terms, it will not be an optio

[2019-11-19 22:05] sgoehringer commented on #20
@tnavatar thanks for looking into that!

[2019-12-12 20:51] sgoehringer opened #21 "Retracted ACI curations shouldn't be sent to the website front-end"
Retracted messages are being sent for the ACI to the Data Exchange.  Tristan make the necessary changes so the website front-end does not receive curations with a “Retracted” status.
Sample ACI Reports For Testing: AC130, AC024, AC023, (one more that Sai will share)
Sample Genes For Testing: SDHB, SDHC, SDHAF2

[2019-12-12 20:57] sgoehringer opened #22 "ACI curation for ATM not showing report AC127"
The message structure from the ACI doesn't currently sent multiple conditions if two genes are associated with one condition.  ACI team is making updates to ensure conditions and can be mapped to the genes.  Tristan share the message structure that was currently sent and Sai is planning to make the changes.

Acceptance: review the website after the ACI make the change and ensure ATM shows report A

[2019-12-12 21:07] sgoehringer opened #23 "ACI Curation - MEN1 two records for Report AC077 (Adult Curation)"
@tnavatar would it be possible to confirm if the Data Exchange has two messages for AC077 as that may be the root cause of the issue. If so, should the message be removed from the Data Exchange and/or another process like a check if a message is a duplicate to ensure double records don't make it into the database.

If the message doesn't have a duplicate record then additional discovery may be nee

[2019-12-12 21:19] sgoehringer opened #24 "ACI Display Inheritance for curations (MONDO/GRAPHQL update)"
This issue may turn out to be a multi-part issue in the future.

The ACI is planning to move towards curations with MONDO associated.  When a MONDO identifier is available they are considering ONLY sharing the MONDO term in the message.  This requires the ingestion scripts for GeneGraph and possible NEO4J to be updates to ensure curations display as intended.  Stakeholder (Kate) asked to have the

[2019-12-12 21:22] sgoehringer opened #25 "Consume MOI data from ACI and make available to to website via gene graph"
The website front-end need to have MOI data available via genegraph for display.  When this data is available please communicate the update with @plweller3 and @sgoehringer to make the updates to the front-end.

NOTE: You may need to work with the ACI team on a message format that is acceptable for your usage.

[2019-12-12 21:29] sgoehringer opened #26 "SDHB triggers empty AC curation from NEO4J that isn't in GeneGraph"
SDHB triggers a scenario where Neo4J thought a AC curation is available but GeneGraph doesn't have data.  Check the logic of the knockout code.

[2019-12-12 21:35] sgoehringer commented on #3
Great work from the teams to move this forward.  On a call today (Dec 12) it was decided and communicated via notes shared over slack to move forward with the updates needed to support ACI support for MONDO and a curation day (Pizza Day) in late January 2020.  The Stakeholders understand that this may impact release of these updates and mean that we miss the deadline for this SP quarter.

[2019-12-12 21:36] #19 closed

[2019-12-12 21:36] sgoehringer commented on #19
Closed after stakeholder confirmed this was not going to be pursued.

[2019-12-12 21:37] #18 closed

[2019-12-12 21:41] sgoehringer opened #27 "Create MOI, AM Only, Affiliations Branch"
Create a branch to support the work related for MOI, Animal Model Only, and data needed for affiliation curation counts.

[2019-12-12 21:42] sgoehringer commented on #7
Untangle this work from genegraph Branch so we can release prior to Genegraph
https://github.com/clingen-data-model/clingen-knowledge/issues/27

[2019-12-12 21:42] sgoehringer commented on #4
Untangle this work from genegraph Branch so we can release prior to Genegraph
https://github.com/clingen-data-model/clingen-knowledge/issues/27

[2019-12-16 19:03] sgoehringer opened #32 "SOP7 Support For Frontend"
Incorporate updates to support SOP7 for display.

[2019-12-16 19:03] sgoehringer commented on #32
https://github.com/clingen-data-model/clingen-knowledge/commit/969a4f7cbf58e634ede5ddacb8e043514f60b19e

[2019-12-16 19:05] sgoehringer commented on #32
@tnavatar updates were made to support the SOP7 release that the GCI is staging later this week.  The updates are minor.  I don't have test data from the GCI to trigger this but I don't expect an issue. They can released when you have time.  Let me know if you have issues.

[2019-12-17 18:52] sgoehringer commented on #21
@tnavatar Sai shared the 4 genes that have retracted as a status
AC022, AC023, AC024 and AC130

[2019-12-18 18:37] tnavatar commented on #32
Changes deployed; should be live in prod, changes in search2 failed due to local changes present in repo.

[2019-12-19 15:16] sgoehringer commented on #7
Quick ticket update to capture two examples for testing.

a gene with multiple disease associations but only one is showing: TECTA has classifications in the GCI for AD and AR nonsyndromic hearing loss but only the AD one is displayed
https://search.clinicalgenome.org/kb/genes/HGNC:11720

[2019-12-19 15:26] sgoehringer opened #33 "Gene Express Curation HGNC Issue (Report 6236)"
It was reported that https://search.clinicalgenome.org/kb/gene-validity/6236 display shows FAM65B (which is previous symbol for RIPOR2) in the report but the HGNC ID (HGNC:13872) is for RIPOR2.  Checking with Marina DiStefano if https://search.clinicalgenome.org/kb/gene-validity/6236 should be removed.

[2019-12-19 15:38] sgoehringer commented on #7
Quick update based on communication today (Dec 19).  This update is slated for first weeks of January.

[2019-12-19 15:44] sgoehringer commented on #33
Report 6236 was removed from Express JSON
https://github.com/clingen-data-model/data-exchange-shared-json/commit/78088e4f9ac9f0ee97a25654360ef08d75afa72e

[2019-12-19 15:49] sgoehringer commented on #33
@tnavatar please re-run the JSON and/or remove the Gene Curation Report 6236.  Removal this report will allow GCI to proceed on their side.

This issue can be closed when the following are true;
Report https://search.clinicalgenome.org/kb/gene-validity/6236 isn't available
Links to report 6236 is not available on https://search.clinicalgenome.org/kb/genes/HGNC:13872

NOTE: A new curation will be p

[2019-12-19 15:53] dazzariti commented on #7
Additional example - LZTR1 example here https://search.clinicalgenome.org/kb/genes/HGNC:6742 - only the AR Noonan Syndrome curation shows (Limited), but there is also an approved AD Noonan Syndrome curation (Strong) that doesn't show up under the results. 

[2019-12-19 16:00] sgoehringer commented on #7
Great, thank you

[2019-12-19 17:14] tnavatar commented on #33
match (a:GeneDiseaseAssertion {perm_id: "6236"}) detach delete a;

[2019-12-19 17:15] tnavatar commented on #33
This association has been removed from the website; it may take up to 10m for changes to reflect on the gene and disease pages.

[2019-12-19 17:28] sgoehringer commented on #33
@tnavatar Thank you!  I'll keep an eye on the site to confirm removal and reassign you if needed.

[2019-12-19 17:31] sgoehringer commented on #33
Confirmed the report was removed (not cached).  Closing ticket

[2019-12-19 17:31] #33 closed

[2019-12-20 00:06] sgoehringer commented on #32
Closing item... reopen if issues occur

[2019-12-20 00:06] #32 closed

[2020-01-07 20:30] sgoehringer commented on #11
Reopen as it looks that it was not removed from the DB

[2020-01-24 16:24] sgoehringer commented on #27
Quick status update for those watching.  Updates to the code have been added to the MOI Branch and this is under review and testing.  https://github.com/clingen-data-model/clingen-knowledge/tree/MOI-Q12020  Reviewing with Gene Small Call on Monday to confirm.  Launch for these updates to be completely wrapped is related to Gene Express data ingestion.

[2020-01-24 16:27] sgoehringer commented on #9
@tnavatar The Gene Express Data was updated and a new file created in GItHub.  https://github.com/clingen-data-model/data-exchange-shared-json/commit/854c2d4a54c506d2cb2cd7905f208abfd5574f03#diff-9d855cc785b5e32e6ed2427138e8ed07. Let me know if you want this file broken into individual files.  The work related to this ticket is to have the ingestion code use the new MONDO data that was added as th

[2020-01-24 16:29] sgoehringer commented on #11
Upon review of the website this wasn't yet removed but should be removed a part of issue #9 work that is underway.  Keeping open for now.

[2020-01-24 16:33] sgoehringer commented on #10
This code and functionality looks solid.  Final testing will be possible after work has been completed to ingest legacy curation data which had affiliation a part of the #9 issue and data added to the JSON https://github.com/clingen-data-model/data-exchange-shared-json/commit/854c2d4a54c506d2cb2cd7905f208abfd5574f03#diff-9d855cc785b5e32e6ed2427138e8ed07.

Leaving open until complete

[2020-02-12 15:03] sgoehringer opened #35 "Removal of pheochromocytoma paraganglioma gene curation"
A request was made and approved (by Sharon Plon, Courtney Lynn Thaxton and Xi Luo) to have the following disease validity reports removed from the website.

https://search.clinicalgenome.org/kb/gene-validity/8369
https://search.clinicalgenome.org/kb/gene-validity/8355
https://search.clinicalgenome.org/kb/gene-validity/8356
https://search.clinicalgenome.org/kb/gene-validity/8357
https://search.clin

[2020-02-12 15:29] tnavatar commented on #35
Are these already gone from the gci express data?

[2020-02-12 15:30] sgoehringer commented on #35
These were removed from the express data for the version where the MONDO was as the primary identifier.

[2020-02-12 15:31] sgoehringer commented on #35
(Forgot to paste this)
https://github.com/clingen-data-model/data-exchange-shared-json/commit/370ffbc1f104e2a0cab87ae959571865ac7936ff

[2020-02-12 15:32] tnavatar commented on #35
Would it be an acceptable solution then to ensure all GCI Express curations are removed apart from the ones already in the json file?

[2020-02-14 15:05] sgoehringer opened #36 "Missing Gene - MIR96 (HGNC:31648)"
The production search site (and staging sites) don't have MIR96 (HGNC:31648) which is causing a Gene Disease Validity curation to not be displayed.

It was discovered that MIR96 (HGNC:31648) - nonsyndromic genetic deafness (MONDO:0019497) is not showing on the website. Accessing the gene detail page directly returns an error.  https://search.clinicalgenome.org/kb/genes/HGNC:31648

Acceptances Crit

[2020-02-14 16:39] sgoehringer opened #37 "Actionability Curation OMIM Discrepancy"
Tracking feedback that came in... seems to be related to data shared to the site but tracking in case.

+++++++++++++++

Gene TSC1 is currently mapped to Phenotype MIM number 191100, but should be mapped to Gene MIM Number 605284
https://actionability.clinicalgenome.org/ac/Adult/ui/stg2SummaryRpt?doc=AC026
Gene TSC2 is currently mapped to Phenotype MIM number 191100, but should be mapped to Gene M

[2020-02-14 19:59] #14 closed

[2020-02-21 15:04] sgoehringer commented on #35
Update released. Closed

[2020-02-21 15:04] #35 closed

[2020-02-21 15:05] sgoehringer commented on #27
Completed

[2020-02-21 15:05] #27 closed

[2020-02-21 15:08] sgoehringer commented on #9
Closing post release

[2020-02-21 15:08] #9 closed

[2020-02-21 15:09] sgoehringer commented on #7
Released

[2020-02-21 15:09] #7 closed

[2020-02-21 15:10] sgoehringer commented on #8
Released

[2020-02-21 15:10] #8 closed

[2020-02-21 15:10] sgoehringer commented on #4
released

[2020-02-21 15:10] #4 closed

[2020-02-21 15:10] sgoehringer commented on #5
released

[2020-02-21 15:10] #5 closed

[2020-02-21 15:11] sgoehringer commented on #10
Closing here as info available for use by marketing site.

[2020-02-21 15:12] sgoehringer commented on #20
Closing as dosage needs to move to MONDO

[2020-02-21 15:12] #20 closed

[2020-02-21 15:14] sgoehringer commented on #22
AC127 is showing - closing

[2020-02-21 15:14] #22 closed

[2020-02-21 15:15] sgoehringer commented on #11
Confirmed that report was removed

[2020-02-21 15:15] #11 closed

[2020-02-21 15:16] sgoehringer commented on #37
Closing as this wasn't a website issue.

[2020-02-21 15:16] #37 closed

[2020-02-21 15:17] sgoehringer commented on #13
Developer concluded this wouldn't be address in this code base

[2020-02-21 15:17] #13 closed

[2020-02-26 16:46] sgoehringer opened #40 "KCNH2 and APOB curations show for dosage after being reopened in JIRA"
It was noticed that a gene that was reopened in Dosage (scheduled for review today) is still showing on clinicalgenome.org (KCNH2) - when with NCBI, reopening an issue in JIRA would trigger removal of that issue's curation information from the public dosage pages (i.e. - the gene would still appear when you searched for it, but instead of displaying the curation information, it would display somet

[2020-02-26 20:00] mayherpatel opened #41 "TBC1D24-DOORS Syndrome Curation Missing"
TBC1D24-DOORS Syndrome curation is missing from the website. This GDA was curated by the HLGCEP.

The MONDO ID is: MONDO:0009079
The published link from the GCI is: https://search.clinicalgenome.org/kb/gene-validity/0fcb9839-6798-4195-8959-08d45bc63339--2018-09-25T14:41:38

[2020-02-26 20:03] mayherpatel opened #42 "CDC14A - hearing impairment and infertile male syndrome curation missing"
CDC14A - hearing impairment and infertile male syndrome (MONDO:0100069) curation missing from the website. This GDA was curated by the HLGCEP.

MONDO ID: MONDO:0100069
GCI Published Link: https://search.clinicalgenome.org/kb/gene-validity/144089d2-83ec-4c6c-8b43-9a4cae801d51--2018-09-21T15:58:24

[2020-02-26 22:43] sgoehringer commented on #42
Additional background that may be helpful...
- The curation was not showing on the website prior to the recent release.
- The curation was was unpublished and republished to the website via the GCI

[2020-02-26 22:43] sgoehringer commented on #41
Additional background that may be helpful...
- The curation was not showing on the website prior to the recent release.
- The curation was was unpublished and republished to the website via the GCI

[2020-02-27 22:28] sgoehringer commented on #10
Upon review and testing of the affiliation API the affiliates are not showing in the list.  It also has become apparent that the GCI is sending 1XXXXXX numbers and not the expected 4XXXXXX affiliation ID.

[2020-02-27 22:30] sgoehringer commented on #10
@tnavatar can you confirm that the ingestion scripts are indeed able to consume the affiliation ID provided in the Gene Express data?

@sgoehringer will review the JSON data in Gene Express and review updating the IDs with the 1XXXXX number and not the 4XXXXXX which was expected.

[2020-02-28 16:22] sgoehringer opened #43 "Dosage Classification Label Changes"
Stakeholders noticed that classifications displayed on search pages for dosage aren't 100% in line with the text from the dosage website.  Specifically "Some evidence for dosage pathogenicity" should be "Emerging evidence for dosage pathogenicity".  The help page text is under review by stakeholders and tracked as ticket #44 .  Feedback from that project may inform updates to this ticket.

Accepta

[2020-02-28 16:23] sgoehringer opened #44 "Dosage Text corrections"
Stakeholders are reviewing and planning to make updates to the help test on the dosage help page.  This document is in Google as "Dosage Help Text - Using the ClinGen Genome Dosage Map Resource".  Feedback will be provided and should update the text on the site.  This also may inform the work for issue https://github.com/clingen-data-model/clingen-knowledge/issues/43

Acceptance:
After feedback ma

[2020-02-28 16:36] sgoehringer opened #45 "MPC1L Curation Removal"
A test curation was added to the Dosage JIRA interface to test if a curation is automatically removed from the website when re-opened.  Upon further review of the scripts that send message to the streaming services it doesn't look like this will happen but the test was put through by the stakeholder to confirm.

https://search.clinicalgenome.org/kb/genes/HGNC:44205

STEPS:
- Curation was added (DO

[2020-02-28 17:04] sgoehringer commented on #45
RESULTS: The website was checked (https://search.clinicalgenome.org/kb/genes/HGNC:44205) and the curation is still showing.  This means that the script isn't removing curations after changes.  Action 1 and 2 should be done.

[2020-02-28 17:06] sgoehringer commented on #45
@tnavatar this issue was just assigned to you.  Please review the items and proceed with Action 1 to the curation is removed.  Action 2 can be a topic for review next week.

[2020-02-28 17:18] sgoehringer opened #46 "Scripts used to track dosage curations need to address the use case where a CLOSED ticket is changed to OPEN, UNDER REVIEW, GROUP REVIEW, ETC, status."
After review and testing it looks that the scripts developed to send updates to the streaming services don't account for the use case where an existing curation (closed) is changed back to a status of OPEN, UNDER REVIEW, GROUP REVIEW, ETC.

Since the scripts don't capture those changes, when a curation is updated, removed, and/or re-reviewed in JIRA  a notification isn't sent to the website.  The

[2020-02-28 21:32] sgoehringer commented on #43
3 - Sufficient evidence for dosage sensitivity
2 - EmergingSome evidence for dosage sensitivity
1 - Little evidence for dosage sensitivity
0 - No evidence for dosage sensitivity
40 - Evidence suggests the gene is not dosage sensitive

[2020-03-02 14:12] sgoehringer commented on #40
This was corrected.  The issue was Kafka needed to have logs cleared.  This needs to be reviewed and address for the long term in the future.

[2020-03-02 14:12] #40 closed

[2020-03-05 15:33] tnavatar commented on #45
Dosage curations connected to this gene have been removed:
    match (g:Gene {symbol: "MPC1L"})--(n) detach delete n;

[2020-03-05 15:46] sgoehringer commented on #45
@tnavatar thanks!  Confirmed the removal.  Closing this issue

[2020-03-05 15:46] #45 closed

[2020-03-09 16:10] tnavatar commented on #46
Per discussion, Phil is diagraming the states and workflow involved. Transferring this ticket to him until this work is complete. After we will agree on a way forward. Interim plan is to delete curations being re-reviewed on request.

[2020-03-09 19:24] tnavatar commented on #36
I've added MIR96 to the KB as a one-off; this should be harmless but I was wary of loading all the pseudogenes into the database.

https://search.clinicalgenome.org/kb/genes/HGNC:31648

Would it be possible to notify a user with the ability to publish this curation to republish it? I would expect it to work now.

[2020-03-09 19:31] sgoehringer commented on #36
@tnavatar user was notified... I will let you know if you need to revisit.  (Hopefully not!)

[2020-03-09 20:33] tnavatar commented on #41
There is no record of this curation having been published in the streaming service. There are recent curations available on the service (as of 2020-03-09), so I do not suspect a general inability of the GCI to send updated publications. @mayherpatel could you contact the Stanford Helpdesk regarding this issue? It's possible there's an issue on that side, or there's a publication step remaining tha

[2020-03-09 20:34] tnavatar commented on #42
Same as #41 . I suspect the two issues have the same resolution.

[2020-03-10 18:33] sgoehringer opened #48 "Curation not showing for GRIA3 - Complex Neurodevelopmental Disorder (MONDO:0100038)"
The stakeholders discovered that a curation initially done in the GCI but was manually changed in the GCI to a different disease isn't showing correctly on the website.

It looks that the original curation was for GRIA3 - X-linked syndromic intellectual disability (MONDO:0020119) but was changed to GRIA3 - Complex Neurodevelopmental Disorder (MONDO:0100038).  It seems that this is creating an issu

[2020-03-10 20:10] tnavatar commented on #48
All of the publications on this gene, including the most recent, are associated with x-linked syndromic ID

  [{"ontology" "MONDO",
    "curie" "MONDO:0020119",
    "uri" "MONDO0020119",
    "name" "X-linked syndromic intellectual disability",
    "iri" "http://purl.obolibrary.org/obo/MONDO_0020119"}]})

This suggests an issue on the Stanford side.

[2020-03-10 20:36] sgoehringer commented on #48
@tnavatar Thank you!
I'll pull you off as the assignee.  I'll reassign if we find it's something we need to address.

[2020-03-10 21:15] tnavatar commented on #10
Affiliation now also included for GCI-express curations

https://search.clinicalgenome.org/kb/gene-validity/10146

There is a small display flaw here (GCEP GCEP). Bouncing ticket back to Scott to address this.

[2020-03-10 21:25] sgoehringer commented on #10
@tnavatar I'll review... question though... It looks that you re-ran the express curations data.  Was that code updated to not overwrite any curations from the GCI that would have been more recent?

Also, the express data still referenced the 4XXXXX ids as I wasn't certain if you wanted me to update to the 1XXXXX numbers so everything would line up.  I assume I should go ahead and change the JSON

[2020-03-10 22:28] tnavatar commented on #10
It was updated—all it did was decorate existing curations with the affiliation data.

Also yes, aligning the numbers with the GCI data will be helpful.

[2020-03-11 13:29] mayherpatel commented on #42
This is resolved!

[2020-03-11 13:29] mayherpatel commented on #41
This is resolved!

[2020-03-11 13:29] #41 closed

[2020-03-11 13:29] #42 closed

[2020-03-12 14:38] sgoehringer opened #49 "Gene Disease Validity Report Removal Request - ID 3218"
Stakeholders requested that AGTR2 - non-syndromic X-linked intellectual disability (https://search.clinicalgenome.org/kb/gene-validity/3218) to be removed.  This curation is in the process of curation in the GCI but the terms may change so it may not be overwritten.  The stakeholders requested that is be removed.

This curation was removed from the GeneExpress JSON.

Please remove, confirm the rem

[2020-03-12 14:41] sgoehringer commented on #10
@tnavatar The Gene Express data was updated with with 1XXXXX numbers and a few corrections based on feedback.

Also, a curation removal request issue was also submitted (https://github.com/clingen-data-model/clingen-knowledge/issues/49).  The curation was removed from the JSON.

The update should replace (remove) all of the 5XXXXX relationships and replace with the 1XXXXXX.

Please test the import

[2020-03-12 14:46] tnavatar commented on #49
This curation should now be removed from the production website.

[2020-03-12 14:48] sgoehringer commented on #49
Confirmed removal.  Closing

[2020-03-12 14:48] #49 closed

[2020-03-12 18:11] sgoehringer commented on #10
When you're at it... can you grab the DB and place it in a share so we can bring the others tests up to date.  Thanks

[2020-04-06 22:10] sgoehringer opened #50 "Remove Legacy Curation (PKD1 - polycystic kidney disease 1)"
The Gene Small Call requested the following curation removed from the website. https://search.clinicalgenome.org/kb/gene-validity/9617

[2020-04-21 12:43] sgoehringer opened #51 "KCNQ1 for hypertrophic cardiomyopathy now showing on website"
From stakeholder: The gene curation small group is reviewing the statuses of the ACMG 59 genes for an upcoming presentation on Wednesday.  While reviewing KCNQ1, I noticed that the curation currently displayed on the website for KCNQ1/hypertrophic cardiomyopathy is a gene express curation dated 1/4/17.  There is another curation for KCNQ1/hypertrophic cardiomyopathy in the GCI that says it was pub

[2020-04-21 12:45] sgoehringer opened #52 "APOB by Dosage not correctly showing on website"
From stakeholder: Found an example of the above.  The gene APOB was recurated by Dosage earlier this month (new close date of 4/9/20), and the updated information is not showing on clinicalgenome.org.  It is showing correctly on the dosage site.

[2020-04-21 12:47] sgoehringer opened #53 "DMXL2 should have legacy curation removed"
There are two entries for DMXL2. A new curation came in from the GCI with a different MONDO so it wasn't able to remove the legacy curation.  Please remove https://search.clinicalgenome.org/kb/gene-validity/6237  This will be removed on the JSON data.

[2020-04-21 12:50] sgoehringer commented on #50
@tnavatar following up on this request.

[2020-04-21 12:51] sgoehringer commented on #51
@tnavatar this is second ticket that may have had issues with having data added to site around the same time.  The other is the dosage issue #52

[2020-04-21 12:53] sgoehringer commented on #52
@tnavatar this is second ticket that may have had issues with having data added to site around the same time.  The other is the validity issue #51

[2020-04-21 12:54] sgoehringer commented on #50
Quick note that the JSON was updated on April 6

[2020-04-21 12:54] sgoehringer commented on #53
Quick note, the JSON was updated

[2020-04-21 15:56] sgoehringer commented on #52
Background, Tristan Addressed by repopulating dosage stream on Kafka from Jira data.

[2020-04-24 16:33] sgoehringer opened #54 "GCI now sending "No Known Disease Relationship" as a classification"
Tracking a series topic from emails.
++++++++++++++++++++++++++++++++
The GCI began making updates to gene curation classifications to reflect recommendations by GenCC.  This means that some of the terms they were sending in the past will be different.  @tnavatar confirmed that when that happens the ingestion codes need to be updated so a process should be put in place to notify Tristan to be read

[2020-04-24 16:40] sgoehringer commented on #54
Okay, withe the background out of the way.

@tnavatar would it be possible to confirm that updates were made to the ingestion software to accept the new terms the GCI is sending?  At least for "No Known Disease Relationship" and "No Classification".  THANKS!

Once those are confirmed stakeholders will consider going back and updating curations made in the GCI after Aug 2019 which is when the SOP w

[2020-04-27 15:56] #36 closed

[2020-05-04 21:35] sgoehringer opened #55 "Contributors not showing as expected for TRDN - long QT syndrome..."
https://search.clinicalgenome.org/kb/gene-validity/1278bd6a-6ac7-4556-87ea-f860027b2da5--2020-04-24T16:00:00

Review the above and see why Long QT Syndrome Long QT Syndrome GCEP looks to be showing twice.  Check the data and see what's what.

[2020-05-04 21:39] sgoehringer opened #56 "Missing collaborator data for CHD7 - CHARGE syndrome"
CHD7 - CHARGE syndrome was republished in Feb but doesn't look to have collaborator data for the display.

https://search.clinicalgenome.org/kb/gene-validity/26ae5799-567b-431b-b981-3bc2f8635802--2018-08-22T20:16:33

[2020-05-04 22:03] sgoehringer commented on #56
@tnavatar can you check into this... I looked at Neo4J data and I see three curations.  Two have similar but I'm unsure why the "wasInvalidatedBy" relationship isn't connected.  I see it for a older curation but the newer one (GCI.7) doesn't have it over to the (GCI.5)

date: 2018-08-22T16:00:00.000Z
gci_id: 26ae5799-567b-431b-b981-3bc2f8635802
iri: 26ae5799-567b-431b-b981-3bc2f8635802--2018-08-22

[2020-05-05 12:29] sgoehringer opened #57 "Second report of dosage displaying "Date Last Updated" on JIRA records instead of "Date Resolved.""
It was reported that the search website is showing the displaying "Date Last Updated" on JIRA records instead of "Date Resolved."  This one is important because it makes it look like there has been an update significantly later than when the gene was actually last looked at (off by years) - this may cause people to put more faith in it than it deserves, and do an inaccurate literature search from

[2020-05-05 13:50] sgoehringer commented on #56
@tnavatar I spot checked a series of curations (a few hundred) and I didn't see a pattern where updates to curations didn't have the wasInvalidatedBy (though it was only spot checks).  I am curious what you find during your review of why the relationship wasn't connected. Once you report back it may shed enough light on to what other testing may be needed to continue audit/testing.

[2020-05-05 13:50] sgoehringer commented on #57
Quick update... emails are going around about this working out how to proceed.

[2020-05-05 15:13] tnavatar commented on #53
match (a:GeneDiseaseAssertion {perm_id: "6237"}) detach delete a;

[2020-05-05 15:14] tnavatar commented on #53
Record removed, to Scott for confirmation.

[2020-05-05 15:15] tnavatar commented on #50
match (a:GeneDiseaseAssertion {perm_id: "9617"}) detach delete a;

[2020-05-05 15:16] tnavatar commented on #50
Curation removed, to Scott for followup.

[2020-05-05 15:27] tnavatar commented on #54
@sgoehringer Changes were made to import these curations. Currently the label shows as "No Evidence" in all summary displays for any curations of these types. I think the desired behavior was that we would distinguish between "No Evidence" (old curations), and "No Known Disease Relationship" (new curations), including in the summary displays. Can you confirm this is true? If so I'll want to adjust

[2020-05-05 15:51] tnavatar commented on #56
I think the issue here is that I'm only marking as invalidated if previous date < new date (am trying to avoid invalidating newer curations in case old data is reprocessed). In this case, the newer, desired curation actually has a timestamp older than the last, valid published one; for some reason the GCI is now sending this as midnight UTC, no matter when the curation was actually published.

I d

[2020-05-05 17:26] sgoehringer commented on #54
Background…
The GCI now send "no known disease relationship” where curations prior this were sent with "No Reported Evidence”. Changing the "no known disease relationship” from the GCI to be "No Reported Evidence” has created a discrepancy.

Resolution...
On the GCI small call last week this topic was reviewed. The agreed path was to that the consumptions code should accept the new classification

[2020-05-05 17:30] #53 closed

[2020-05-05 17:32] #50 closed

[2020-05-05 17:36] sgoehringer commented on #51
This looks to have been corrected during other request... closing

[2020-05-05 17:36] #51 closed

[2020-05-05 17:38] #48 closed

[2020-05-06 11:24] sgoehringer commented on #56
@tnavatar I worked with the stakeholders and we concluded that simply revising the curation date from 8/22 to 8/23 would address this issue and also ensure that someone using the streaming service in the future wouldn't possibly have the same issue.

[2020-05-06 11:24] #56 closed

[2020-05-06 11:25] sgoehringer commented on #56
Closing because the data change worked and the curation shows on the site.

[2020-05-06 12:07] sgoehringer commented on #55
This is another test example
https://search.clinicalgenome.org/kb/gene-validity/26ae5799-567b-431b-b981-3bc2f8635802--2018-08-23T16:00:00

[2020-05-06 12:09] sgoehringer commented on #55
@tnavatar a quick UX patch went out for this issue.  https://github.com/clingen-data-model/clingen-knowledge/commit/271f738198c0085b74f8d15df24cd8e388eb7659  This commit only has one change to a view, please confirm when you pull.  Can you sneak in this release quickly.  Thank you.

[2020-05-06 12:57] tnavatar commented on #55
Should be sorted, note that there are problems with search2 that prevent this from being deployed there automatically:

➜  clingen-knowledge git:(master) ✗ ansible-playbook -i deploy/prod.yml deploy/deploy.yml

PLAY [webservers] ********************************************************************************************************

TASK [Gathering Facts] ******************************************

[2020-05-06 13:01] sgoehringer commented on #55
@tnavatar thanks!  Should the search2 issues be broken into a different issue or is this more of a headsup?

[2020-05-06 13:06] tnavatar commented on #55
Probably create a different issue—please assign the issue to Phil if you do.

[2020-05-06 13:30] sgoehringer commented on #55
Release UX checked... closing

[2020-05-06 13:30] #55 closed

[2020-05-06 13:31] sgoehringer opened #58 "Search2 Issue Prevents Automatic Deploy For Ansible"
From Tristan...

Should be sorted, note that there are problems with search2 that prevent this from being deployed there automatically:

➜  clingen-knowledge git:(master) ✗ ansible-playbook -i deploy/prod.yml deploy/deploy.yml

PLAY [webservers] ********************************************************************************************************

TASK [Gathering Facts] *************************

[2020-05-07 15:45] sgoehringer opened #59 "Double Dosage Display"

[2020-05-07 15:46] sgoehringer opened #60 "Dosage Sensitivity Label Change"

[2020-05-11 16:19] sgoehringer commented on #57
@tnavatar after a review with Phil he said you were working on this.

[2020-05-11 16:33] sgoehringer opened #61 "Actionability MYLK showing with a curation but the ACI doesn't have one"
@tnavatar please review MYLK to see why a AWG curation is showing.  I checked the ACI and a curation doesn't show for MYLK in their system.  https://search.clinicalgenome.org/kb/genes/HGNC:7590

Please advise with what you find early this week (May 11) as I have a call with them on May 14th.

[2020-05-11 16:59] sgoehringer opened #62 "MUT, MMADHC, MMACHC, MMAB, MMAA, MMEE - Report AC122 typo in the report label"
MUT, MMADHC, MMACHC, MMAB, MMAA, MMEE - Report AC122 typo in the report label. I believe “Acidemia" was mistyped as “Academia”.

This issue was created to track what may become a manual override.  Waiting for AWG feedback.

[2020-05-11 20:37] tnavatar commented on #61
That curation used to have MYLK in it, but no longer does; the import code did not take into account a gene being removed from a curation. Purging previous curations and re-running the import will address the issue. This will need to be done regardless as part of the CSP-14 resolution.

[2020-05-12 12:52] tnavatar commented on #54
@sgoehringer A few questions:

* What time frame are the GCI team expecting a solution on? It would be more straightforward to make this part of the Genegraph deployment if it can wait a bit.
* Is 'no known disease relationship' the desired label for all curations previously noted as 'no reported evidence'? If so, it would be simpler and preferable to update the label for all curations to 'no know

[2020-05-12 13:47] sgoehringer commented on #54
@tnavatar feedback below...
Question #1 - Before gene graph... if this isn't possible please let me know
Question #2 - Yes, the Gene Curation group was made aware of your proposal.  It wasn't selected because it would change curations that have been published with a new label/different label and some of those curations may be associated with publications.  The currently implementation also isn't i

[2020-05-13 12:11] sgoehringer opened #63 "ClinGen Gene Dosage Curations "Showing 1 to 100 of 100 entries" count correction"
When browsing the ClinGen Gene Dosage Curations site https://search.clinicalgenome.org/kb/gene-dosage and noticed something. At the bottom of every page it says “Showing 1 to 100 of 100 entries” (except for the last page, page 14, which says “Showing 1 to 99 of 99 entries”). It should say “Showing 1 to 100 of 1399 entries” on p.1, “Showing 101 to 200 of 1399 entries” on p.2, etc.

[2020-05-13 12:12] sgoehringer opened #64 "Legacy Curation Removal PKP2 - report 8753"
A request to remove an older curations record for PKP2 that was performed and approved by the UNC Biocuration Core, and entered as the Gene curation express, it is for the PKP2 gene and the UUID is https://search.clinicalgenome.org/kb/gene-validity/8753

[2020-05-13 12:23] sgoehringer opened #65 "MONDO term out of date - Should be arrhythmogenic cardiomyopathy with woolly hair and keratoderma"
The audit of ACMG59 genes came across the following issue for the gene DSP.  On the website its disease term is displayed as "dilated cardiomyopathy with woolly hair and keratoderma."  In the GCI the term is displayed as "arrhythmogenic cardiomyopathy with woolly hair and keratoderma."  The MONDO is the same in both locations, and MONDO displays the "arrhythmogenic" version.  Why is the web displa

[2020-05-13 13:08] sgoehringer commented on #61
@tnavatar I am testing CSP-14 on search2 and I see MYLK showing for the report. Shouldn't that have been removed by the new import process?

[2020-05-13 16:14] sgoehringer opened #66 "UX feature - Add display to gene-disease validity report for secondary approvers"
Add display to gene-disease validity report for secondary approvers

[2020-05-14 15:28] sgoehringer opened #67 "Remove Legacy curation 8250 for COL3A1 and FTAAD"
Remove Legacy curation 8250 for COL3A1 and FTAAD (https://search.clinicalgenome.org/kb/gene-validity/8250)

[2020-05-14 15:40] sgoehringer commented on #54
This request won't be implemented as stated above.  Will be tabled until GeneGraph is released later this year.

[2020-05-14 15:40] #54 closed

[2020-05-18 13:12] sgoehringer commented on #62
Update the label associated in the report to correct and issue.  This was updated on their side but we are not consuming their data

CURRENT:
label: Methylmalonic Academia - MUT, MMAA, MMAB, MMADHC, MCEE, MMACHC

REQUEST:
label: Methylmalonic Acidemia - MUT, MMAA, MMAB, MMADHC, MCEE, MMACHC

[2020-05-18 13:16] sgoehringer commented on #61
Remove the MYLK relationship for report AC134 so the gene doesn't show related to this curation when searched.  This was updated in their data but from my understanding we are not updating the records.  This allows CSP-13 to wrap up

[2020-05-19 12:26] tnavatar commented on #67
match (a:GeneDiseaseAssertion {perm_id: "8250"}) detach delete a;

[2020-05-19 12:26] #67 closed

[2020-05-19 12:32] tnavatar commented on #64
match (a:GeneDiseaseAssertion {perm_id: "8753"}) detach delete a;

[2020-05-19 12:32] #64 closed

[2020-05-19 13:13] tnavatar commented on #61
neo4j> match (a:ActionabilityAssertion)-[r:has_subject]->(g:Gene {entrez_id: "4638"}) where a.iri ends with "AC134" delete r;

[2020-05-19 13:13] #61 closed

[2020-05-19 13:19] tnavatar commented on #62
match (a:ActionabilityAssertion) where a.iri ends with "AC122" set a.label = "Methylmalonic Acidemia - MUT, MMAA, MMAB, MMADHC, MCEE, MMACHC";

[2020-05-19 13:19] #62 closed

[2020-05-27 12:58] larrybabb opened #68 "Resolve vulnerability issues."
@sgoehringer or @plweller3 is there any reasonable action we can take to resolve the vulnerability issues with this project?
https://github.com/clingen-data-model/clingen-knowledge/network/alert/Gemfile.lock/actionpack/open

[2020-05-28 15:15] tnavatar commented on #65
Update label on term in database

[2020-06-03 19:05] sgoehringer commented on #43
This will be held for the new DB

[2020-06-03 19:07] sgoehringer commented on #3
Items related to CSP-13... closing as new SP items will be issued for new items

[2020-06-03 19:07] #3 closed

[2020-06-03 19:08] sgoehringer commented on #58
Server was rebuilt

[2020-06-03 19:08] #58 closed

[2020-06-03 19:15] sgoehringer opened #70 "Correct EP Spelling Mistake Sent From GCI "Arrhythmogenic Right Ventricular Cardiomyopathy""
Stakeholders discovered that the GCI had a typo for "Arrhythmogenic Right Ventricular Cardiomyopathy GCEP".  The website was sent the typo and it is showing incorrectly on the curation detail pages.
At the moment is is spelled: Arrythmogenic Right Ventricular Cardiomyopathy
The correct spelling is: Arrhythmogenic Right Ventricular Cardiomyopathy

------
The GCI team was notified but a fix for the

[2020-06-04 14:09] tnavatar commented on #65
match (r:DiseaseConcept {iri: "http://purl.obolibrary.org/obo/MONDO_0011581"}) set r.label = "arrhythmogenic cardiomyopathy with woolly hair and keratoderma";

[2020-06-04 14:20] sgoehringer commented on #65
Confirmed!  Closing

[2020-06-04 14:20] #65 closed

[2020-06-07 18:18] sgoehringer opened #72 "Removal request for Gene Validity Report #8440"
Stakeholders have requested the removal of Gene Validity Report #8440
https://search.clinicalgenome.org/kb/gene-validity/8440

Please advise when complete to confirm the removal.  Thank you!

[2020-06-11 14:23] tnavatar commented on #72
match (a:GeneDiseaseAssertion {perm_id: "8440"}) detach delete a;
0 rows available after 27 ms, consumed after another 0 ms
Deleted 1 nodes, Deleted 5 relationships

[2020-06-11 14:23] #72 closed

[2020-06-25 13:42] sgoehringer opened #74 "Dosage curations not removed from DB when gene symbol changes"
User feedback was provided that when dosage updates a symbol name the website doesn't know to remove the old curation and replace it with the new symbol name.  This means that the website will link to a detail page that no longer exists.

[2020-06-26 13:59] sgoehringer opened #75 "Filtered Searching"
It looks like PRSS1 is complete in JIRA, displays on the dosage page, AND does display on clinicalgenome.org when you search for it in the top search bar:

Solution:
Since the typeahead only searches the one page remove the ability to search the current page OR update the text that says Searching page XX.  Confirm with stakeholder.

[2020-06-26 14:06] sgoehringer commented on #75
Remove the search/filter feature. - Stakeholder feedback

[2020-06-26 19:22] sgoehringer opened #76 "Old MONDO disease name for MONDO:0014006 (intellectual disability-craniofacial dysmorphism-cryptorchidism syndrome)"
Feedback from users has show that the website has MONDO disease name that hasn't been updated.  Stakeholder stated that at this time this doesn't need to be corrected but it will be tracked and also confirmed in the new DB.

https://search.clinicalgenome.org/kb/genes/HGNC:30032
https://search.clinicalgenome.org/kb/conditions/MONDO_0014006